* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  color: rgb(71, 137, 139);
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
header {
  top: 0;
  font-size: 1em;
  padding: 0.25em;
  text-align: center;
}
.container {
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-wrap: wrap;
}
.card {
  background-color: antiquewhite;
  color: darkcyan;
  margin: 10px;
  width: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card:hover {
  background-color: rgb(62, 62, 62);
  color: aliceblue;
  cursor: pointer;
  transform: scale(1.02);
  transition: all 1s ease;
}
h2 {
  margin: 15px 5px;
}
a {
  background-color: darkcyan;
  margin: 5px;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
  color: antiquewhite;
  width: 100px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
a:hover {
  background-color: aliceblue;
  color: rgb(62, 62, 62);
}
.card_image {
  height: 200px;
  border-radius: 5px 5px 0 0;
  width: 250px;
  margin-bottom: 15px;
  background-size: cover;
}
.card-1 {
  background-image: url(./images/beach.jpg);
}
.card-2 {
  background-image: url(./images/rain.jpg);
}
.card-3 {
  background-image: url(./images/beach.jpg);
}
p {
  margin: 15px 6px;
}
